* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Fira Code', monospace;
  font-size: 18px;
  color: #4a4952;
}

/* UTILITY */
i {
  cursor: pointer;
}

/* TODO APP */
#todo-app {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  max-height: 100%;
  height: 100%;
  width: 100%;
  background-image: url("../img/todo_bg.jpg");
  background-position: right;
}

/* LOGO */
.logo {
  margin-bottom: 30px;
  height: 50px;
  text-align: center;
}

.logo img {
  max-height: 100%;
}

/* WRAPPER */
.wrapper {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 100%;
  max-width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .4);
  border-radius: 30px;
}

/* Insert */
.insert {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.insert input {
  padding: 0 20px;
  flex-basis: 80%;
  max-width: 80%;
  height: 45px;
  border: 0;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: rgb(111, 124, 112);
  background-color: rgba(255, 255, 255, .7);
  border-radius: 20px;
}

.insert input:hover,
.insert input:focus {
  box-shadow: 0 0 10px rgb(111, 124, 112);
}

.insert a {
  /* position: relative; */
  min-width: 60px;
  height: 45px;
  color: rgb(111, 124, 112);
  overflow: hidden;
}

.insert a i {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 35px;
  animation: prova 1.5s;
}

.insert a:hover i {
  animation: addElement .8s linear infinite;
}

@keyframes addElement {
  0%   {top: 0;}
  40%  {top: 10px;}
  70%  {top: 5px;}
  100% {top: 0;}
}

/* TODO LIST */
.todo-list {
  position: relative;
  flex-grow: 1;
  margin: 0 auto;
  width: 80%;
  height: 75%;
}

.todo-list ul {
  max-height: 90%;
  list-style: none;
  overflow: auto;
}

.empty-list,
.todo-list li {
  font-weight: 700;
  color: rgba(255, 255, 255, .8);
  background-color: rgba(74, 73, 82, 0.5);
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(111, 124, 112);
}

.todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 0 20px;
  width: 95%;
  min-height: 45px;
}

.todo-list li i {
  font-size: 22px;
  transition: .4s;
}

.todo-list li i:hover {
  color: rgba(148, 27, 12, .6);
  transform: rotate(90deg);
}

.empty-list {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  height: 100%;
  width: 100%;
  font-size: 26px;
  text-align: center;
}

/* Media queries */
/* Tablet */
@media screen and (min-width: 768px) {
  .wrapper {
    flex-basis: 768px;
  }
}

/* Desktop */
@media screen and (min-width: 992px) {
  #todo-app {
    background-size: cover;
  }
  #todo-app {
    justify-content: flex-end;
  }
  .wrapper {
    flex-basis: 50%;
  }
}